<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Scraping</title>
    <style>
        body {
            padding: 25px 5%;
        }

        #heading {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <nav class="blue">
        <div class="container">
            <div class="nav-wrapper center-align" id="heading">
                YAHOO FINANCE - STOCK SCRAPING
            </div>
        </div>
    </nav>
    {{!-- outputting our template file into body --}}
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>






{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/news-icon.png">
    <title>News Scraper</title>
</head>

<body>
    {{> jumbotron/jumbotron}}
    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>
    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>

</html> --}}